<!-- Footer -->
<div id="footer">

  <!-- Copyright -->
  <ul class="copyright">
    <li>
      <strong>t: </strong>
      <span id="phone-masked">
        <a>+62...show </a>
      </span>
      <span id="phone" style="display:none">
          <a  href="tel:+6281246668342">+62 812-4666-8342</a>
      </span>      
    </li>

    <li>
      <strong>e: </strong>
      <a  href="mailto:{{- site.email -}}">{{- site.email -}}</a>
    </li>
    <li>
      <strong><i>(можно по-русски)</i></strong>
    </li>


  </ul>
</div>

<script type="text/javascript" src="assets/js/jquery-3.3.1.slim.min.js"></script>
<script>
  $(document).ready(function () {

    $('[lang="ru"]').hide();

    $('#switch-lang-ru').click(function () {
      $('[lang="en"]').hide();
      $('#switch-lang-en').removeClass("underlined")
      $('[lang="ru"]').show();
      $('#switch-lang-ru').addClass("underlined")
    });
    $('#switch-lang-en').click(function () {
      $('[lang="ru"]').hide();
      $('#switch-lang-ru').removeClass("underlined")
      $('[lang="en"]').show();
      $('#switch-lang-en').addClass("underlined")
    });
    $('#phone-masked').click(function () {
      $('#phone-masked').hide();
      $('#phone').show();
    });

  });
</script>
